<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" [routerLink]="['']">PROJET GNIOOS</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Acceuil <span
            class="sr-only">GNIOOS</span></a>
            </li>
            <li class="nav-item" *ngIf="etat_connexion">
                <a class="nav-link" [routerLink]="['/ajouter-article']" routerLinkActive="active">ajouter article</a>
            </li>
            <!--  <li class="nav-item" *ngIf="!etat_connexion">
                <a class="nav-link" [routerLink]="['/inscription']" routerLinkActive="active">Creer un compte</a>
            </li> -->

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" *ngIf="!etat_connexion" [routerLink]='["connexion"]' style="margin:7px">Se connecter</button>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" *ngIf="etat_connexion" (click)="deconnecter()" style="margin:7px">Deconnecter</button>
            <input class="form-control mr-sm-2" type="search" placeholder="Chercher un article" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Rechercher
      </button>
        </form>
    </div>
</nav>