<div class="container-fluid" *ngIf="this.listarticle.length > 0">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-striped table-responsive" style="border-radius: 5px;">
                <thead class="thead-dark">
                    <tr style="margin: 10px;">

                        <th scope="col">Titre de l'article</th>
                        <th scope="col">Description</th>
                        <th scope="col">Etat de l'article</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of this.listarticle; let i = index" style="margin: 10px;">

                        <td>{{article.nom_article}}</td>
                        <td>{{article.description}}</td>
                        <td>{{article.etat}}</td>
                        <td style="display: none;" id="id_article">{{article.id_article}}</td>
                        <td><button class="btn btn-danger btn-sm" (click)="supprimer()">Supprimer</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>